h1{
    color:rgb(55, 75, 113);
    border: 3px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: solid #000;

}

body{
    background-color: bisque;
    font-family: system-ui;

}

a{
    text-decoration: none;
    color: darkgreen;
}

.descripton:hover{
    color: blueviolet;
    border: 5px solid transparent;
}
.descripton:active{
    outline: 10px solid black;
}
input:focus{
    border: transparent;
}
input{
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: #000;
    background: transparent;
}
li:first-child{
    color: blue;
}