h1{
    color:rgb(55, 75, 113);
    border: 3px ;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-bottom: solid #000;

}

body{
    background-color: bisque;
    font-family: system-ui;

}

a{
    text-decoration: none;
    color: darkgreen;
}

.description{
    color: blueviolet;
}
